<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.skku.curvRoof.solAR">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.DIAL_PHONE" />

    <uses-feature
        android:name="android.hardware.camera.ar"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_logoicon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_logoicon_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar"
        android:usesCleartextTraffic="true">
        <activity android:name=".Activity.popupActivity" android:theme="@android:style/Theme.Dialog"
            android:launchMode="singleTask"/>
        <activity android:name=".Activity.historyPageActivity"
            android:launchMode="singleTask"/>
        <activity android:name=".Utils.historyListViewItem" />
        <activity android:name=".Utils.historyListViewAdapter" />
        <activity android:name=".Activity.historyActivity"
            android:launchMode="singleTask"/>
        <activity android:name=".Activity.mypageActivity"
            android:launchMode="singleTask"/>
        <activity
            android:name=".Activity.receiptActivity$moveSplashActivity"
            android:screenOrientation="landscape" />
        <activity android:name=".Activity.choiceActivity"
            android:launchMode="singleTask"/>
        <activity android:name=".Activity.companyListActivity"
            android:launchMode="singleTask"/>
        <activity android:name=".Activity.receiptActivity"
            android:launchMode="singleTask"/>
        <activity android:name=".Activity.resultActivity"
            android:launchMode="singleTask"/>
        <activity android:name=".Activity.renderingActivity"
            android:launchMode="singleTask"/>
        <activity
            android:name=".Activity.pointCloudActivity"
            android:screenOrientation="landscape"
            android:launchMode="singleTask"/>
        <activity android:name=".Activity.loginActivity" />
        <activity android:name=".Activity.MainActivity"
            android:launchMode="singleTask"/>
        <activity android:name=".Activity.startSplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activity.receiptActivity$calculateSplashActivity"
            android:screenOrientation="landscape" />

        <meta-data
            android:name="com.google.ar.core"
            android:value="required" />
    </application>

</manifest>